<div class="card" data-products-id = {{id}}>
     <div class="card-header">
        <h4>{{name}}</h4>
     </div>
     <div class="card-body">
        {{description}} 
        <br>
        {{stock}}
        <br>
        ${{price}}
        <br>
     </div>
</div>