<form>
  <div class="form-group" >
    <label for="product-name">Product Name</label>
    <input type="input" class="form-control" id="product-name" value="{{product.name}}"/>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3">{{product.description}}</textarea>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="input" class="form-control" id="price" value="{{product.price}}" />
  </div>
   <div class="form-group">
    <label for="stock">Stock</label>
    <input type="input" class="form-control" id="stock" value="{{product.stock}}" />
  </div>
  <br />
  
  {{#if product}}
  <button type="button" class="btn btn-primary" id="update-product" data-product-id={{product.id}} >Save Changes</button>
  {{else}}
    <button type="button" class="btn btn-primary" id="add-product">Add Product</button>

  {{/if}}
</form>
{{#if product}}
<script src="/js/updateproduct.js"></script>
{{else}}
<script src="/js/addproduct.js"></script>
{{/if}}